.container {
  margin-top: 20px;
}

input[type='text'] {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
}

#weatherData {
  margin-top: 20px;
  font-weight: bold;
}
